@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

$primary-color: #1a512e;
$secondary-color: #589d62;
$third-color: #b0d3bf;
$fourth-color: #c6dc93;
$fifth-color: #63a91f;