@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

$primary-color: #1a512e;
$secondary-color: #589d62;
$third-color: #b0d3bf;
$fourth-color: #c6dc93;
$fifth-color: #63a91f;

// Media Query Mixns
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}