#footer {
    min-height: 25vh;
    background: #F5F5F5;
    color: black;

    .footer-container {
        padding-top: 50px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto auto;

        .logo {
            img {
                width: 300px;
            }
        }

        .contact-info, .social-media-links {
            .contact {
                margin-bottom: 15px;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: blue;
                    }

                    i {
                        display: inline;
                        padding-right: 5px;
                        font-size: 1.5rem;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}