#newsletter {
    position: relative;
    min-height: 25vh;
    background: $secondary-color;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    padding-top: 50px;
    padding-bottom: 50px;

    .centered {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    h1 {
        font-weight: 300;
        font-size: 3rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.25rem;
    }
}

/* Changes the style of the overall form */
#mc_embed_signup {
    background: transparent;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Styles the input boxes */
#mc_embed_signup  input {
    height: 50px;
    width: 60%;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 1rem;

    &::placeholder {
        color: white;
    }
}

/* Styles the subscribe button */
#mc_embed_signup .button {
    background-color: $third-color;
    color: #ffffff;
    margin: 0 auto;
    border: 1px solid white;

    &:hover {
        transition: background-color .5s ease-in;
        background-color: $fourth-color;
    }
}

.fa-input {
    font-family: "Font Awesome 5 Free";
    content: '\f1d8';
    font-size: 2rem;
  }