#newsletter {
    position: relative;
    min-height: 25vh;
    background: $secondary-color;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    padding-top: 50px;
    padding-bottom: 50px;

    .centered {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    h2 {
        font-weight: 300;
        font-size: 1.25rem;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }
}

/* Changes the style of the overall form */
#mc_embed_signup {
    background: transparent;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Styles the header text above the inputs */
#mc_embed_signup h2 {
    font-size: 18px;
    margin: 0 0 20px;
    color: #000000;
    text-align: center;
}

/* Styles the input boxes */
#mc_embed_signup  input {
    height: 50px;
    width: 60%;
    padding-left: 10px;
    border: none;
    margin-bottom: 2px;
    border-radius: 5px;
}

/* Styles the subscribe button */
#mc_embed_signup .button {
    background-color: transparent;
    color: #ffffff;
    margin: 0 auto;
    border: none;
}

.fa-input {
    font-family: "Font Awesome 5 Free";
    content: '\f1d8';
    font-size: 2rem;
  }